<div id='main'>
<% if top.present? %>
	<div><%= top %></div>
 	<hr>
<% end %>
 
<%= render :file => '/plugins/sifhmail/app/views/email/_post', :locals => {:post => post} %>

<hr>

<div class='footer'>
%{respond_instructions}
</div>
<div class='footer'>
%{unsubscribe_link}
</div>
</div>
